[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
socketio = "*"
fastapi-socketio = "*"
uvicorn = "*"
python-engineio = "*"
python-socketio = "*"
requests = "*"
eventlet = "*"
websockets = "*"
socketio-client = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.10"
